.landing{
    height: 100vh;
    width: 100vw;
    background-color: #2FFF2F;
    overflow: hidden;
}

.landing-markey-dv {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background-color: #ffffff;
    margin-left: 48px;
}