.main-title{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 48px;
    text-align: center;
    color: #000000;
    margin: 0;
}