.Main-L{
    height: 100%;
    width: 50%;
}

.Main-L-markey-dv{
    display: inline-block;
    margin-left: 48px;
    height: 24px;
    width: 24px;
    transform: rotate(45deg);
    background-color: #000000;
}