.markey{
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-top: 5px solid #000000;
    width: 100%;
}